@using Books.Data
@model BooksCategories.Models.NewBookViewModel

<div class="row" style="padding: 20px;">
    <div class="col-md-6 col-md-offset-3 well">

        <form method="POST" action="/books/addbook">
            <input type="text" name="title" placeholder="Title" class="form-control"/>
            <br/>
            <input type="text" name="author" placeholder="Author" class="form-control"/>
            <br />
            <input type="text" name="yearPublished" placeholder="Year Published" class="form-control"/>
            <br />
            <input type="text" name="pagecount" placeholder="Page Count" class="form-control"/>
            <br />
            <select name="categoryId" class="form-control">
                <option>Select a Category</option>
                @foreach (Category category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <br />
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>